[project]
	description = This is a demo project to learn Angular and Gulp
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Venkateswara Venkatraman Prasanna (reflexdemon)
[access "refs/for/refs/*"]
	read = group user/Venkateswara Venkatraman Prasanna (reflexdemon)
	push = group user/Venkateswara Venkatraman Prasanna (reflexdemon)
	label-Code-Review = -2..+2 group user/Venkateswara Venkatraman Prasanna (reflexdemon)
	label-Verified = -1..+1 group user/Venkateswara Venkatraman Prasanna (reflexdemon)
	rebase = group user/Venkateswara Venkatraman Prasanna (reflexdemon)
	removeReviewer = group user/Venkateswara Venkatraman Prasanna (reflexdemon)
	submit = group user/Venkateswara Venkatraman Prasanna (reflexdemon)
[access "refs/heads/*"]
	read = group user/Venkateswara Venkatraman Prasanna (reflexdemon)
	create = group user/Venkateswara Venkatraman Prasanna (reflexdemon)
	push = +force group user/Venkateswara Venkatraman Prasanna (reflexdemon)
	pushMerge = group user/Venkateswara Venkatraman Prasanna (reflexdemon)
[access "refs/tags/*"]
	push = group user/Venkateswara Venkatraman Prasanna (reflexdemon)
	push = +force group user/Venkateswara Venkatraman Prasanna (reflexdemon)
