<h3>Customers</h3>
<a href="#/home" class="btn btn-primary"><i class="fa fa-home"></i> Home</a>
 <a href="#/customer/new" class="btn btn-success"><i class="fa fa-user-plus"></i>
 Add</a>
<div ng-if="status" class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Message:</strong>{{status}}
</div>
 <div id="grid1" ui-grid="gridOpts" class="grid myGrid" ui-grid-resize-columns></div>

